body{
    margin: 0;
    padding: 0;
  }

 
  
  .container {
    max-width: 60%;
    margin: 0 auto;  
    padding: 10px;
 
    border-radius: 8px;
   
}

/* For tablets */
@media (max-width: 900px) {
    .container {
      max-width: 90%;
    }
}

/* For phones */
@media (max-width: 480px) {
    .container {
      max-width: 95%;
    }
  }

  
  
  